
@define-color bg    #1e1e2e; 
@define-color fg    #a6adc8; 
@define-color blk   #313244; 
@define-color red   #f38ba8; 
@define-color grn   #a6e3a1; 
@define-color ylw   #f9e2af; 
@define-color blu   #89b4fa; 
@define-color mag   #cba6f7; 
@define-color cyn   #74c7ec; 
@define-color brblk #45475a; 
@define-color white #cdd6f4; 
@define-color cstm  #875fff;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @cstm;
    background: transparent;
    border-bottom: 3px solid @bg;
}
#workspaces button.active {
    color: @mag;
    border-bottom: 3px solid @mag;
}
#workspaces button.hidden {
    color: @white;
}
#workspaces button.hidden.active {
    color: @cstm;
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #bac2de;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#
#wireplumber,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
    border-bottom: 4px solid @cyn;
}

#battery {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#network {
    color: @red;
    border-bottom: 4px solid @red;
}

#wireplumber {
  color: @white;
  border-bottom: 4px solid @white;
}

#tray {
    background-color: @cstm;
}
